/C-yanglegeyang/C-yanglegeyang/.vs/
/C-yanglegeyang/C-yanglegeyang/C-yanglegeyang/*.vcxproj
/C-yanglegeyang/C-yanglegeyang/C-yanglegeyang/*..vcxproj.filters
/C-yanglegeyang/C-yanglegeyang/C-yanglegeyang/*.vcxproj.user